<div class = "row">
<!-- <div>{{vm.name}}</div>
 --><!-- 	<div class="col-xs-3">
		<form ng-submit="vm.teamClick()">
			<input type='text' ng-model="vm.teamInput" placeholder='Find your team'/>{{vm.teamInput}}
			<button class ='btn' type="submit">Enter Team Name</button>
		</form>
		<ul>
			<li ng-repeat="team in vm.teams | filter:vm.teamInput">{{team.team_name}}</li>
		</ul>
		</div> -->
	<div class="col-xs-3">
		<form name="playerForm" ng-submit="vm.playerClick()" novalidate>
			<input type='text' ng-model="vm.playerInput" placeholder='Find your player' ng-minlength='3' class='form-control' name ="playername" required/><!-- {{vm.playerInput}} -->
			<button class ='btn' type="submit">Enter Player Name</button>
			<div ng-show="vm.moreThanOnePlayer">{{vm.alert}}</div>
			<ul ng-show="playerForm.playername.$valid">
				<li ng-repeat="player in vm.playersID | filter:vm.playerInput">{{player.player_name}}</li>
			</ul>
		</form>
	</div>
			<!-- sadsadds -->
	<div class="col-xs-3">
		<form name="dateForm" ng-submit="vm.dateClick()">
			<input type='text' ng-model="vm.gameDateInput" placeholder='Date YYYY-MM-DD' ng-minlength='6' class='form-control' name ="datename" required/><!-- {{vm.playerInput}} -->
			<button class ='btn' type="submit">Enter Date of Game</button>
<!-- 			<div ng-show="vm.moreThanOnePlayer"></div>-->		
			<ul ng-show="vm.hasData && dateForm.datename.$valid">
<!--  			<ul ng-show="datename.$valid"> -->
<!-- 			working one with ids	<li ng-repeat="game in vm.everyGameIDPlayerPlayed | filter:vm.gameDateInput">{{game}}</li> -->
				<li ng-repeat="game in vm.games | filter:vm.gameDateInput">{{game.date}}</li>
			</ul>
			<ul ng-show="vm.showStats">
				<li>Against the {{vm.opponent}}</li>
				<li>Points: {{vm.points}}</li>
				<li>Assists:{{vm.assists}}</li>
				<li>Blocks:{{vm.blocks}}</li>
				<li>Rebounds:{{vm.rebounds}}</li>
				<li>Steals:{{vm.steals}}</li>
			</ul>
			<!-- sasdsadsa -->
		</form>
	</div>
</div>

<!--  <div class = "row">
    <div class = "col-xs-4">
      <button class="btn btn-block btn-primary">Like</button>
      </div>
    <div class = "col-xs-4">
      <button class="btn btn-block btn-info">Info</button>
      </div>
    <div class ="col-xs-4">
      <button class="btn btn-block btn-danger">Delete</button>
     </div>
</div> -->
